
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Login</title>
    <style>
        body{
        background-color:rgb(235,235,235);
      }
      .login{
        margin-top:20px;
      }
      .containerr {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{padding:10px;
  border-style:groove;
  

}
.contain{
  margin-left:100px;
}

    </style>
</head>

<body>
    <div class="container">
        <h2>Welcome to MY CART </h2>
        <h5>Login/Signup to Continue</h5>
        <div class="containerr">
            <form method="post" action="/shop/login" class="login ">{% csrf_token %}
                <div class="form-group">
                    <label for="Username">Username</label>
                    <input type="name" class="form-control" id="Username" name="Username" placeholder="Enter Your Username" aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your username with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="passwordlogin">Password</label>
                    <input type="password" placeholder="Enter your password" class="form-control" id="passwordlogin" name="passwordlogin">
                    <button type="submit" class="btn contain btn-primary my-4">Login</button></div>
                Dont have an account?
                <a href="/shop/signup"> Signup</a>
            </form>
        </div>
    </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script>
    {% if logout %}
    alert("Logout succesfully ")
    document.location = "/" 
    {% endif %} 
    {% if not account %}
    alert("Login Failed Try Again ")
    document.location = "/shop/login" 
    {% endif %}
    </script>
</body>

</html>